/* these become project wide definitions */
/* include the pseudo selectors so they are also included in the global reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* here we set the boxsizing element in the body and then applied the inherit to the universal selector */
}

html {
  /* declaring the root font size in html. But should not be in px as the user will not be able to change the default 
  font size so move to a percentage*/

  // the media queries need to be orders from highest to lowest

  font-size: 62.5%; //1 rem is 10px, 10px/16px = 62.5%
}

/* put the font family in body element so that use inhertiance across all the children elements */

body {
  box-sizing: border-box;
  // padding: 3rem;
}

::selection {
  background-color: palegoldenrod;
  color: black;
}
