.section-about {
  margin-top: 5rem;

  // @include respond(tab-port) {
  //   padding: 20rem 5rem;
  // }

  // @include respond(phone) {
  //   padding: 26rem 5rem;
  // }

  .row {
    max-width: 120rem;
  }
}

.section-features {
  margin: 20rem 0;
  &__row {
    width: 120rem;
  }
}

.section-projects {
  margin: 20rem 0;

  & .row {
    max-width: 130rem;
  }
}

.section-contact {
  padding: 10rem 0 20rem;
}

.contact {
  width: 80%;
  background-size: cover;
  box-shadow: $default-box-shadow-darker;
  position: relative;
  margin: 0 auto;

  // @include respond(tab-port) {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba($color-white, 0.9) 0%,
  //       rgba($color-white, 0.9) 100%
  //     ),
  //     url(../img/nat-10.jpg);
  //   background-size: cover;
  //   border-radius: $default-border-radius;
  //   box-shadow: $default-box-shadow-darker;
  // }

  &__form {
    padding: 5rem 5rem 5rem 12rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
