.section-about {
  // background-color: $color-grey-light;
  padding: 0 10rem;

  @include respond(tab-port) {
    padding: 20rem 5rem;
  }

  @include respond(phone) {
    padding: 26rem 5rem;
  }
}

.section-features {
  padding: 20rem;
  margin-top: 5rem;

  @include respond(tab-port) {
    padding: 8rem 5rem;
    margin-top: -11rem;
  }

  &__row {
    width: 150rem;
  }
}

.section-projects {
  padding: 10rem 0;
  margin-top: -5vh;
  margin-bottom: 10rem;

  @include respond(tab-port) {
    padding: 20rem 5rem 10rem 5rem;
  }
}

.section-stories {
  padding: 10rem 0;
  position: relative;
  margin-top: 30rem;

  @include respond(tab-port) {
    padding: 5rem 5rem;
  }
}

.section-contact {
  padding: 20rem 0;

  @include respond(tab-port) {
    padding: 8rem 5rem;
  }
}

.contact {
  // background-color: #ebd4aa;
  background-size: cover;
  box-shadow: $default-box-shadow-darker;
  position: relative;
  border-radius: 50px;

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow-darker;
  }

  &__form {
    width: 60%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
