.footer {
  background-color: #f1e6e6;
  padding: 3rem 0;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 5rem;

  &__logo-box {
    // margin-bottom: 10rem;
    text-align: center;

    span {
      font-size: 3rem;
      letter-spacing: 2rem;
    }
  }

  &__navigation {
    display: inline-block;
    width: 100vw;
    margin-top: 5rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: rgb(66, 65, 65);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      // color: $primary-color;
      // box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.4);
      // transform: rotate(5deg) scale(1.3);
      transform: scale(1.3);
    }
  }

  &__copyright {
    color: rgb(66, 65, 65);
  }
}
