.header {
  /* 95% of the viewport height */
  height: 60vh;
  /* use background image to add gradient property */
  background-color: #f1e6e6;
  /* will always fit the element in whatever the size of the viewport is */
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path works its way around from top left to each corner of the image */
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 51vh);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
    height: 70vh;
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
    height: 50vh;
  }

  @include respond(mid-phone) {
    clip-path: polygon(0 0, 100% 0, 100% 25vh, 0 100%);
    height: 40vh;
  }

  // @include respond(small-phone) {
  //   clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%);
  //   height: 30vh;
  // }

  &__textBox {
    position: absolute;
    width: fit-content;
    top: 40%;
    left: 50%;
    /* used to center the div in the middle of the page */
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__profileLinks {
    margin-right: 2rem;
    transition: all ease 0.3s;

    // &:hover {
    //   transform: scale(1.3);
    // }
  }
}
