// COLOURS
$primary-color: #494949;
$primary-color-light: #494949;
$primary-color-dark: #494949;

$secondary-color-light: #d3d3bc;
$secondary-color-dark: #acb2b4;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// GRID VARIABLES
$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font

$default-font-size: 2rem;
$default-border-radius: 15px;
$default-box-shadow-darker: 0 1.5rem 4rem rgba($color-black, $alpha: 0.35);
