.card {
  // Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  margin: 1rem;

  &__side {
    height: 50rem;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 1.5rem 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: #98bec8;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    @include respond(tab-port) {
      padding: 0;
    }

    &--back {
      transform: rotateX(180deg);

      &--1 {
        background-color: #fdf0ec;
      }

      &--2 {
        background-color: #fdf0ec;
      }
    }

    &-1 {
      background-color: #98bec8;
    }
    &-2 {
      background-color: #fbda52;
    }
    &-3 {
      background-color: #d3e1e1;
    }
    &-4 {
      background-color: #22548c;
    }
    &-5 {
      background-color: #4401018e;
    }
    &-6 {
      background-color: #459a71;
    }
    &-7 {
      background-color: #4401018e;
    }
  }

  &:hover &__side--front {
    transform: rotateX(-180deg);
  }

  &:hover &__side--back {
    transform: rotateX(0);
  }

  // front side of card styling
  &__picture {
    background-size: cover;
    height: 50%;
    width: 100%;

    @include respond(mid-phone) {
      height: 41%;
    }

    &--1 {
      background-image: url(/img/Mashalashelter.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
    }

    &--2 {
      background-image: url(/img/Savelebanesehospitality.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    &--3 {
      background-image: url(/img/TheBakeress_1.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    &--4 {
      background-image: url(/img/portfolio.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    &--5 {
      background-image: url(/img/Real-Estate.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--6 {
      background-image: url(/img/Booking-platform.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    &--7 {
      background-image: url(/img/dice-game.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--8 {
      background-image: url(/img/SeatBookingWidget.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--9 {
      background-image: url(/img/CustomVideoPlayer.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--10 {
      background-image: url(/img/ExchangeRateCalc.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--11 {
      background-image: url(/img/ExpenseTrackerApp.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    &--12 {
      background-image: url(/img/MealFinderAPI.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($secondary-color-light, 0.45),
        rgba($secondary-color-dark, 0.45)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($secondary-color-light, 0.45),
        rgba($secondary-color-dark, 0.45)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($secondary-color-light, 0.45),
        rgba($secondary-color-dark, 0.45)
      );
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 50%;
      margin: 0 auto;
      padding: 2rem;
      color: white;

      li {
        text-align: center;
        font-size: 1.7rem;
        padding: 0.5rem;
      }
    }
  }

  // Back side of card styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
  }

  &__specs-box {
    text-align: center;
    margin: 5rem 0;

    @include respond(tab-port) {
      margin: 1rem 0 4rem 0px;
    }
  }

  &__specs-text {
    ul {
      list-style: none;

      li {
        // text-align: center;
        font-size: 1.7rem;
        padding: 0.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  @include respond(tab-port) {
    height: auto;
    margin-bottom: 5rem;
    // background-color: $color-white;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: 50rem;
      position: relative;
      // border-radius: 1rem;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        // clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    // Back side of card styling
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
      width: 100%;
      padding: 5rem;
    }

    &__specs-box {
      // margin-bottom: 1rem;
    }

    &__specs-text {
      ul {
        list-style: none;
        width: 100%;

        li {
          text-align: center;
          font-size: 2rem;
          padding: 0.5rem;

          &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-2;
          }
        }
      }
    }
  }
}

.project__skills {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.project__skills i {
  font-size: 3rem;
}
