.card {
  // Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  margin: 1rem;

  &__side {
    height: 50rem;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 1.5rem 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: #98bec8;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    @include respond(tab-port) {
      padding: 0;
    }

    &--back {
      transform: rotateX(180deg);

      &--1 {
        background-color: #c1dcff;
      }

      &--2 {
        background-color: #c1dcff;
      }
    }

    &-1 {
      background-color: #d3e1e1;
    }
    &-2 {
      background-color: #d3e1e1;
    }
    &-3 {
      background-color: #d3e1e1;
    }
    &-4 {
      background-color: #d3e1e1;
    }
    &-5 {
      background-color: #d3e1e1;
    }
    &-6 {
      background-color: #d3e1e1;
    }
    &-7 {
      background-color: #d3e1e1;
    }
    &-8 {
      background-color: #d3e1e1;
    }
    &-9 {
      background-color: #d3e1e1;
    }
    &-10 {
      background-color: #d3e1e1;
    }
    &-11 {
      background-color: #d3e1e1;
    }
    &-12 {
      background-color: #d3e1e1;
    }
    &-13 {
      background-color: #d3e1e1;
    }
  }

  &:hover &__side--front {
    transform: rotateX(-180deg);
  }

  &:hover &__side--back {
    transform: rotateX(0);
  }

  // front side of card styling
  &__picture {
    background-size: cover;
    height: 50%;
    width: 100%;

    @include respond(mid-phone) {
      height: 26%;
    }

    &--1 {
      background-image: url(/img/Mashalashelter.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
    }

    &--2 {
      background-image: url(/img/Savelebanesehospitality.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }

    &--3 {
      background-image: url(/img/TheBakeress_1.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }

    &--4 {
      background-image: url(/img/Portfolio.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }

    &--5 {
      background-image: url(/img/Real-Estate.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--6 {
      background-image: url(/img/Booking-platform.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }

    &--7 {
      background-image: url(/img/dice-game.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--8 {
      background-image: url(/img/SeatBookingWidget.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--9 {
      background-image: url(/img/CustomVideoPlayer.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--10 {
      background-image: url(/img/ExchangeRateCalc.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--11 {
      background-image: url(/img/ExpenseTrackerApp.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--12 {
      background-image: url(/img/MealFinderAPI.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
    &--13 {
      background-image: url(/img/cOACHING.png);
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-position: center;
      background-size: contain;
      position: relative;
      width: 100%;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__details {
    ul {
      list-style: none;
      width: 50%;
      margin: 0 auto;
      padding: 2rem;
      color: white;

      li {
        text-align: center;
        font-size: 1.7rem;
        padding: 0.5rem;
      }
    }
  }

  // Back side of card styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
  }

  &__specs-box {
    text-align: center;
    margin: 5rem 0;

    @include respond(tab-port) {
      margin: 1rem 0 4rem 0px;
    }
  }

  &__specs-text {
    ul {
      list-style: none;

      li {
        // text-align: center;
        font-size: 1.7rem;
        padding: 0.5rem;
      }
    }
  }

  @include respond(tab-port) {
    height: auto;
    margin-bottom: 5rem;
    // background-color: $color-white;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: 100vh;
      position: relative;
      // border-radius: 1rem;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        // clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    // Back side of card styling
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
      width: 100%;
      padding: 5rem;
    }

    &__specs-box {
      // margin-bottom: 1rem;
    }

    &__specs-text {
      ul {
        list-style: none;
        width: 100%;
        font-size: 1.8rem;

        li {
          text-align: center;
          font-size: 1.7rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
.card__side--front .card__specs-box {
  display: none;
}

.project__skills {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.project__skills i {
  font-size: 3rem;
}

@media only screen and (max-width: 800px) {
  .card__side--back {
    display: none;
  }

  .card__side--front .card__specs-box {
    display: block;
  }

  .section-projects {
    margin: 20rem 4rem;
  }

  .card__specs-box .button-small-section {
    margin-top: 2rem;
  }

  .card__specs-box .button-small-section:nth-child(1) {
    margin-top: 0;
  }
}

@include respond(mid-phone) {
  .card__heading {
    margin: 5rem 1rem 4rem;
  }
}
