.card {
  // Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;


  &__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(to right bottom,
            $secondary-color-light,
            $secondary-color-dark);
      }



    }

  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }


  // front side of card styling
  &__picture {
    background-size: cover;
    height: 30rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right,
          $secondary-color-light,
          $secondary-color-dark), url(/img/nat-5.jpg);
    }

    &--2 {
      background-image: url(img/nat-5.jpg);

    }

    &--3 {
      background-image: url(/img/nat-5.jpg);

    }

  }

  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 18rem;
    right: 2rem;
    text-align: right;
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;

  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
          rgba($secondary-color-light, 0.85),
          rgba($secondary-color-dark, 0.85));
    }

    &--2 {}

    &--3 {}
  }


  &__details {

    padding: 0 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }

  }

  // Back side of card styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__specs-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 2rem;
  }

  &__specs-text {
    ul {
      list-style: none;
      width: 90%;

      li {
        text-align: center;
        font-size: 2rem;
        padding: 0.5rem;

        &:not(:last-child) {
          // border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }

  }

}