.feature-box {
  background-color: transparent;
  border-radius: 20px;
  padding: 5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &:hover {
    transform: scale(1.1) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.7);
    z-index: 20;
  }

  & img {
    width: 100%;
  }
}
